# Distribution / packaging
.env
build/
node_modules/
.sass-cache/
webpack-stats.json
package-lock.json
.husky/

#MAC Trash
.DS_Store

#JS
node_modules/
npm-debug.log
.yalc
yalc*
yarn-error.log

# next.js
/.next/
/out/

# Text Editors
.idea
.vscode
